.app-container {
  width: 60%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.json-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.filter-container {
  margin-top: 20px;
}

.filter-dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.filter-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-input span {
  margin-right: 10px;
}

.filter-tag {
  background-color: hwb(212 57% 29%);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.remove-filter {
  margin-left: 10px;
  color: rgb(12, 1, 1);
  cursor: pointer;
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.filter-option {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.filter-option:hover {
  background-color: #f1f1f1;
}

.filter-option .remove-filter {
  color: rgb(6, 5, 5);
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

.dropdown-icon {
  font-size: 14px;
}

.filtered-response {
  margin-top: 20px;
}

.filtered-response h3 {
  margin-bottom: 10px;
}